- if @game.errors.any?
  .warning
    = pluralize(@game.errors.count, "error")
    prohibited this game from being saved:
  %ul
    - @game.errors.full_messages.each do |msg|
      .warning
        %li= msg

= form_for(@game) do |f|
  %p= f.label :winner
  %p= f.collection_select :winner_id, Player.all, :id, :name, :prompt => "Please select"
  %p= f.label :winner_score, "Winner Score"
  %p= f.number_field :winner_score, placeholder: "Enter score"
  %p= f.label :loser
  %p= f.collection_select :loser_id, Player.all, :id, :name, :prompt => "Please select"
  %p= f.label :loser_score, "Loser Score"
  %p= f.number_field :loser_score, placeholder: "Enter score"
  %p= f.label :bingos
  %p= f.number_field :bingos, placeholder: "Enter bingos (#)"
  %p= f.submit 'Submit'
