%h3 All Games

%table
  %thead
    %tr
      %th Date
      %th Winner
      %th Winner Score
      %th Loser
      %th Loser Score
      %th Bingos
      %th
      %th

  %tbody
    - unless @games.any?
      %tr
        %td= "No games."
    - @games.each do |game|
      %tr{ class: cycle("even", "odd") }
        %td= game.created_at.strftime("%Y-%m-%d")
        %td= game.winner_name
        %td= game.winner_score
        %td= game.loser_name
        %td= game.loser_score
        %td= game.bingos
        %td= link_to 'Show', game
        %td= link_to 'Edit', edit_game_path(game)
