!!!
%html
  %head
    %title SCRAPP
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %main
      %header
        %h1= link_to "SCRAPP", root_path
        %ul
          %li= link_to "New Game", new_game_path
          %li= link_to "New Player", new_player_path
          %li= link_to "Source", "http://github.com/jwworth/scrapp"
        %p.subheader An app for tracking Scrabble games
        = render 'shared/flash_messages'
      %article
        = yield
      %footer
        %p
          = "© " + Time.now.year.to_s
          = link_to 'Jake Worth', 'http://worth-chicago.co'
