!!!
%html
  %head
    %title= SITE_NAME
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link(href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css')
  %body
    %main
      %header
        %h1= link_to SITE_NAME, root_path
        %ul
          %li= link_to "New Game", new_game_path
          %li= link_to "New Player", new_player_path
        %p.subheader= SITE_SUBHEAD
        = render 'shared/flash_messages'
      %article
        = yield
      %footer
        %p
          = "© " + Time.now.year.to_s
          = link_to 'Jake Worth', 'http://worth-chicago.co'
          \//
          = link_to "Source", "http://github.com/jwworth/scrapp"
